body{
	margin: 5%;
	/*background-image*/
}

.blog {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	border: 2px black solid;
	border-radius: 10px;
}


.lorem p{
	padding: 10px 30px;
}

.image {
	float: right;
	margin: 10px 0px;
}


